.env
# Build data
/build/
html

# Backup entities generated with doctrine:generate:entities command
*/Entity/*~
/dev/docker/volumes
/vendor/

web/files/
web/sites/all/*
web/sites/*/files
web/sites/*/private

# Ignore default text files
web/robots.txt
web/CHANGELOG.txt
web/COPYRIGHT.txt
web/INSTALL*.txt
web/LICENSE.txt
web/MAINTAINERS.txt
web/UPGRADE.txt
web/README.txt
web/sites/README.txt
web/sites/all/modules/README.txt
web/sites/all/themes/README.txt
*.pyc
*.phar
